db:
  common: &common
    adapter:  "mysql2"
    host:     "127.0.0.1"
    port:     3306
    username: ""
    password: ""

  importer:
    <<: *common
    database: "importer"

  importer_new:
    <<: *common
    database: "importer_new"

  camst:
    <<: *common
    database: "camst"

  edda_production: &edda_production
    <<: *common
    database: "edda_production"

  edda_test: &edda_test
    <<: *common
    database: "edda_test"

# necessario per le migration
development:
  <<: *edda_test


files:
  gruppi_ww:   '../resources/gruppi_WW_v1.csv'
  gemellaggi:  '../resources/IT_GEMELLAGGI_ridotto_v3_0.csv'
  vincoli:     '../resources/vincoli_finali.csv'
  descrittori: './descrittori.yml'